/* ==== 
 --------- (4.2) banner styles start ---------
 ==== */

// home one banner
.banner {
  padding: 0px 0px 240px;
  background-image: 
    radial-gradient(circle at left center,  transparent 100px),
    url("/images/header.jpg"),
    linear-gradient(90deg, #2C58A8 0%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-position: left -110px center, right bottom, left top;
  background-size: auto, contain, 100%;
}



// inner banner
.banner--inner {
  padding: 196px 0px 30px;
  position: relative;
  background-image: url("/images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;

  .banner--inner__content {
    h2 {
      color: $white;
    }
  }

  .breadcrumb {
    margin: 0px;
    padding: 0px;
    .breadcrumb-item {
      margin-top: 0px;
      color: $white;
      padding: 0px 0px 0px 24px;
      position: relative;
      padding-right: 16px;
      a {
        color: $white;
        font-weight: 400;
        &:hover {
          color: none;
        }
      }
      &::before {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        content: "\f105";
        position: absolute;
        left: 0px;
        font-size: 14px;
        color: $white;
        padding: 0px;
      }
      &:first-of-type {
        padding-left: 0px;
        &::before {
          content: none;
        }
      }
    }
    .active {
      color: $white;
      padding-right: 0px;
    }
  }
}

/* ==== 
 --------- (4.2) banner styles end ---------
 ==== */
