@import '../abstracts/_variables';

.pricing-plan {
  background-image: url("/images/profile/profile-background-ultralarge.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (min-width: 1400px) {
  .pricing-plan {
    padding-top: 200px; /* Adjust this value based on your navbar height */
    margin-bottom: 10px;
    display: block;
  }
}

@media only screen and (max-width: 1399.98px) {
  .pricing-plan {
    padding-top: 180px; /* Adjust this value based on your navbar height */
    margin-bottom: 10px;
    display: block;
  }
}

@media only screen and (max-width: 767.98px) {
  .pricing-plan {
    padding-top: 160px; /* Adjust this value based on your navbar height */
    margin-bottom: 10px;
    display: block;
  }
}
/* Responsive padding for the profile page */
@media only screen and (max-width: 575.98px) {
  .pricing-plan {
    padding-top: 150px; /* Adjust this value based on your navbar height */
    margin-bottom: 10px;
    display: block;
  }
}
