.booking-container {
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.divider {
  border: none;
  border-top: 2px solid #ddd; // Adjust thickness and color as needed
  margin: 10px 0;
}

.section {
  margin-bottom: 0px;
  padding: 20px 0 !important;

}

.centerlized-container {
  display: flex;
  justify-content: center;
}

.date-container,
.time-container,
.court-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 550px;
}

.date-button,
.time-button,
.court-button {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  width: 130px;
}

.time-button {
  min-width: 130px;
}

.time-button {
  padding: 10px;
}

.equipment-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.equipment-item {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  border: 1px solid #ddd;
  border-radius: 5px;

  .equipment-name {
    font-size: 18px !important;
    text-align: center;
    color: black;
  }

  .equipment-price {
    font-size: 18px !important;
    color: #666;
    text-align: center;
    color: black;
  }

  .equipment-total {
    font-size: 20px !important;
    font-weight: 500;
    color: #2C58A8;
    margin: 5px 0;
    text-align: center;
    color: black;
  }
}

.equipment-image {
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 8px 0;
  
  button {
    font-size: 14px;
    padding: 4px 8px;
  }
  
  span {
    font-size: 14px;
  }
}

.book-now-button {
  padding: 15px 30px;
  background-color: #ff7f50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.book-now-button:disabled {
  background-color: #ccc;
}

// Active State Styles
.selected {
  background-color: #ff7f50;
  color: #fff;
}

.no-courts-message,
.no-selected-time-message {
  text-align: center;
  color: red;
  font-size: 24px;
  margin-top: 10px;
}

.date-button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.6;
}
